<header class="main-header">
  <!-- Logo -->
  <a href="../../index-2.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
  <b class="logo-mini">
    <span class="light-logo"><img src="../../../../../assets/images/aries-light.png" alt="logo"></span>
    <span class="dark-logo"><img src="../../../../../assets/images/aries-dark.png" alt="logo"></span>
  </b>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
    <img src="../../../../../assets/images/logo-light-text.png" alt="logo" class="light-logo">
      <img src="../../../../../assets/images/logo-dark-text.png" alt="logo" class="dark-logo">
  </span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">

    <li class="search-box">
          <a class="nav-link hidden-sm-down" href="javascript:void(0)"><i class="fa fa-search"></i></a>
          <form class="app-search" style="display: none;">
              <input type="text" class="form-control" placeholder="Search &amp; enter"> <a class="srh-btn"><i class="fa fa-times" aria-hidden="true"></i>
              </a>
    </form>
        </li>



        <!-- Tasks: style can be found in dropdown.less -->
        <li class="dropdown tasks-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="far fa-comment-dots"></i>
          </a>
          <ul class="dropdown-menu scale-up">
            <li class="header">You have 6 tasks</li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu inner-content-div">
                <li><!-- Task item -->
                  <a href="#">
                    <h3>
                      Lorem ipsum dolor sit amet
                      <small class="pull-left">30%</small>
                    </h3>
                    <div class="progress xs">
                      <div class="progress-bar progress-bar-aqua" style="width: 30%" role="progressbar"
                           aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">30% Complete</span>
                      </div>
                    </div>
                  </a>
                </li>
                <!-- end task item -->



              </ul>
            </li>

          </ul>
        </li>
    <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="../../../../../assets/images/user5-128x128.jpg" class="user-image rounded-circle" alt="User Image">
          </a>
          <ul class="dropdown-menu scale-up">
            <!-- User image -->
            <li class="user-header">
              <img src="../../../../../assets/images/user5-128x128.jpg" class="float-left-Profile rounded-circle" alt="User Image">

              <p>
                Juliya Brus
                <small class="mb-5">jb@gmail.com</small>
                <a href="#" class="btn btn-danger btn-sm btn-rounded">View Profile</a>
              </p>
            </li>
            <!-- Menu Body -->
            <li class="user-body">
              <div class="row no-gutters">
                <div class="col-12 text-left-Profile ">
                  <a href="#"><i class="ion ion-person"></i> My Profile</a>
                </div>
                <div class="col-12 text-left-Profile ">
                  <a href="#"><i class="ion ion-email-unread"></i> Inbox</a>
                </div>
                <div class="col-12 text-left-Profile ">
                  <a href="#"><i class="ion ion-settings"></i> Setting</a>
                </div>
      <div role="separator" class="divider col-12"></div>
        <div class="col-12 text-left-Profile ">
                  <a href="#"><i class="fa fa-cog"></i> Account Setting</a>
                </div>
      <div role="separator" class="divider col-12"></div>
        <div class="col-12 text-left-Profile ">
                  <a href="#"><i class="fa fa-power-off"></i> Logout</a>
                </div>
              </div>
              <!-- /.row -->
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->

      </ul>
    </div>
  </nav>
</header>
