

    <app-navbar></app-navbar>

    <app-sidebar></app-sidebar>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>blank </h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
          <li class="breadcrumb-item"><a href="#">Examples</a></li>
          <li class="breadcrumb-item active">Blank page</li>
        </ol>
      </section>

      <router-outlet></router-outlet>


    </div>
    <!-- /.content-wrapper -->



    <app-footer></app-footer>
    <div class="control-sidebar-bg"></div>
